@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.grid-container {
  padding: 25px;
}
.card {
  cursor: pointer;
}
.info {
  cursor: pointer;
}

.info:hover {
  color: blue;
}
